// BG VARS
$bgcolor--primary-black: #141414;
$bgcolor--primary-white: #F4F8FA;
$bgcolor--white: #fff;
$bgcolor--gray: #EEE;
$bgcolor--black: #000;

// TEXT VARS
$text-color--primary-black: #141414;
$text-color--primary-white: #F4F8FA;
$text-color--orange: #E14E2D;
$text-color--gray: #686868;
$text-color--white: #fff;
$text-color--black: #000;

// BORDER COLORS
$border-color--orange: #E14E2D;
$border-color--light-gray: #282828;
$border-color--lighter-gray: #DADADA;
$border-color--dark-gray: #D7D7D7;

// COLORS VARS
$color--orange: #E14E2D;
