* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Product Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.attesta-safe-container {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.attestor-container {
  height: calc(100vh - 88px);
  padding: 40px;
  max-width: 1186px;
  margin: 0 auto;
}
